.header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  min-height: 30px;
  width: 100%;
  padding: 5px;
  background-color: blue;
}
.searchContainer {
  position: relative;
  width: 200px;
  margin: 0 auto;
}

.searchInput {
  width: 100%;
  padding: 5px 5px 5px 45px;
  border: 1px solid rgb(109, 174, 225);
  border-radius: 5px;
  outline: none;
}

.searchBtn {
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  padding: 8px 12px;
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}
